.balance {
  &_container {
    width: 1258.37px;
    height: 380.41px;

    background: #1e1f25;
    border-radius: 25px;
    padding: 30px 40px;

    display: flex;
    justify-content: space-between;
  }
}
